body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #98ceff;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container-app{
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}
.glass{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.sidebar{
    flex: 1;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.chat{
    flex: 2;
}
.header{
    background-color: #84c0f8bf;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.chat .header{
    padding: 18px;
}

/* Hide scrollbar */
.hide_scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.hide_scrollbar::-webkit-scrollbar{
        display: none;
}
/* List item hover */
.ant-list-item:hover{
    background-color: #74b8f8;
}
/* Messages container */
.ant-layout-content{
    padding: 10px;
    height: calc(100% - 141px);
    overflow-y: scroll;
}
.send_message{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.send_message.ant-input{
    width: 200px;
}

/* Message bubble */
.ant-card{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0 20px 20px 20px;
}
.ant-card.owner{
    border-radius: 20px 20px 0px 20px;
    background-color: #84c0f8bf;
    float: right;
}
.ant-card-meta.owner{
    
    flex-direction: row-reverse;
}
.ant-card .ant-card-body{
    padding: 0;
}